<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MagicMountain.plist
   ATLAS

   Created by phuong phan on 27/08/2023.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>midCoord</key>
        <string>{5.852937, 102.953951}</string>
        <key>overlayTopLeftCoord</key>
        <string>{20.896549, 89.111178}</string>
        <key>overlayTopRightCoord</key>
        <string>{21.919364, 103.305514}</string>
        <key>overlayBottomLeftCoord</key>
        <string>{-6.951768, 91.923678}</string>
        <key>boundary</key>
        <array>
            <string>{-0.633320, 99.770072}</string>
            <string>{-0.490504, 103.164847}</string>
            <string>{-0.424588, 106.592581}</string>
            <string>{8.584852, 105.285208}</string>
            <string>{16.269052, 103.815638}</string>
            <string>{16.448259, 100.409877}</string>
            <string>{17.692754, 87.072475}</string>
            <string>{7.990207, 90.829799}</string>
            <string>{-6.864745, 95.444056}</string>
        </array>
    </dict>
</plist>
