<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109961666521-fuu1i829lhc4m03hh1d6nknq6mnbga1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109961666521-fuu1i829lhc4m03hh1d6nknq6mnbga1o</string>
	<key>API_KEY</key>
	<string>AIzaSyBiKOnT9uiKG6BHqbAPbe23ZF9MNCsRzWs</string>
	<key>GCM_SENDER_ID</key>
	<string>109961666521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.accumulus.ios.atlas</string>
	<key>PROJECT_ID</key>
	<string>dev-scoot-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-scoot-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109961666521:ios:837be19e014ccb33c083c8</string>
	<key>DATABASE_URL</key>
	<string>https://dev-scoot-proj-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>